---
import type { Session } from "@auth/core/types";
import { Auth, SignIn, SignOut } from "auth-astro/components";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body>
    <center>
      <h1>Github Login</h1>
      <Auth>
        {
          (session: Session) => {
            if (session) {
              return (
                <>
                  <p>
                    <img
                      src={session.user?.image}
                      alt="Aru"
                      width="100pixel"
                      height="100pixel"
                    />
                  </p>
                  <p>Logged in as {session.user?.name}</p>
                  <p>Email {session.user?.email}</p>
                  <p>
                    <a href="/protected">Protected page</a>
                  </p>
                  <SignOut>Sign Out</SignOut>
                </>
              );
            } else {
              return <SignIn provider="github">Sign In</SignIn>;
            }
          }
        }
      </Auth>
    </center>
  </body>
</html>
